/* montserrat-regular - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v18-cyrillic-regular.woff2') format('woff2'),
       url('../fonts/montserrat-v18-cyrillic-regular.woff') format('woff');
}
/* montserrat-500 - cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v18-cyrillic-500.woff2') format('woff2'),
       url('../fonts/montserrat-v18-cyrillic-500.woff') format('woff');
}

/* oswald-regular - cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/oswald-v40-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v40-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #060D10;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

a {
  color: inherit;
}

.separator {
  width: 1280px;
  height: 1px;
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
}
/* buttons */

.btn {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  padding: 8px 41px;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.btn-lead {
  display: inline-block;
  text-decoration: none;
  padding: 20px 107px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 4px;
  font-size: 36px;
  font-weight: 500;
}



/* header */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #66d1ff;
  color: #060D10;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone-number {
  text-decoration: none;
  font-size: 28px;
  line-height: 34px;
}



/* main */

/* about */
.about {
  color: #fff;
  text-align: center;
  background-image: url('../image/about-promo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-bg-fade {
 background-color: rgba(6, 13, 16, .25);
}

.about-wrap {
  padding-top: 240px;
  padding-bottom: 260px;
}

.about-title {
  margin: 0 auto;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-shadow: 1px 1px 2px #060D10;
}
.about-info {
  margin: 0 110px;
  margin-top: 60px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-shadow: 1px 1px 2px #060D10;
}

/* advantages */
.advantages {
  padding-top: 170px;
  /* padding-bottom: 170px; */
  background: #FFFFFF;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, .25); */
  background-color: rgba(102, 209, 255, .1);
}
.advantages-title {
  margin: 0 auto;
  text-align: center;
  font-family: Oswald;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -15px;
  padding-left: 0;
  padding-top: 30px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 33.33%;
  padding: 0 15px;
}

.advantages-heading {
  margin-bottom: 25px;
  margin-top: 0;
  font-family: Oswald;
  font-weight: 500;
  font-size: 32px;
  line-height: 167%;

}
.advantages-text {
  margin: 0;
  font-family: Montserrat;
  font-size: 26px;
  line-height: 140%;
  /* color: #060D10; */
  opacity: 0.8;
}


/* lead */

.lead {
  padding-top: 170px;
  padding-bottom: 180px;
  text-align: center;
  background-image: linear-gradient(200.8deg, rgba(102, 209, 255, .1) 43.85%, rgba(196, 196, 196, 0) 43.86%);
}

.lead-title {
  margin: 0 auto;
  font-family: Oswald;
  font-weight: 500;
  font-size: 48px;
  line-height: 167%;
}

.btn-lead {
  margin-top: 60px;
  margin-bottom: 130px;
}

.lead-visual {
  display: flex;
  margin: 0 -15px;
}

.lead-visual-pic {
  width: 25%;
  padding: 15px;
}

.lead-pic {
  display: block;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* footer */

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #060D10;
  color: #fff;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join-us {
  margin: 0 30px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
}

.copyright {
  margin: 0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

/* Social-icons */

.social-icons {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item {
  margin-right: 20px;
}

.social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-text {
  font-size: 1px;
  opacity: 0;
}
